<h1>Editing communication mean</h1>

<%= render "form", communication_mean: @communication_mean %>

<br>

<div>
  <%= link_to "Show this communication mean", @communication_mean %> |
  <%= link_to "Back to communication means", communication_means_path %>
</div>
