<h1>Editing join table user com mean</h1>

<%= render "form", join_table_user_com_mean: @join_table_user_com_mean %>

<br>

<div>
  <%= link_to "Show this join table user com mean", @join_table_user_com_mean %> |
  <%= link_to "Back to join table user com means", join_table_user_com_means_path %>
</div>
