<h1>Editing join table user track</h1>

<%= render "form", join_table_user_track: @join_table_user_track %>

<br>

<div>
  <%= link_to "Show this join table user track", @join_table_user_track %> |
  <%= link_to "Back to join table user tracks", join_table_user_tracks_path %>
</div>
