<h1>New join table user track</h1>

<%= render "form", join_table_user_track: @join_table_user_track %>

<br>

<div>
  <%= link_to "Back to join table user tracks", join_table_user_tracks_path %>
</div>
