<h1>Editing communicationmean</h1>

<%= render "form", communicationmean: @communicationmean %>

<br>

<div>
  <%= link_to "Show this communicationmean", @communicationmean %> |
  <%= link_to "Back to communicationmeans", communicationmeans_path %>
</div>
