<%= form_with(model: join_table_user_communication_mean) do |form| %>
  <% if join_table_user_communication_mean.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(join_table_user_communication_mean.errors.count, "error") %> prohibited this join_table_user_communication_mean from being saved:</h2>

      <ul>
        <% join_table_user_communication_mean.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
