<div class="grid h-10 rounded-box place-items-stretch">
  <div class="h-screen">
    <% @cars.each do |car| %>
      <div class="w-80 mt-24 m-auto lg:mt-16 max-w-sm">
        <img src="https://image.freepik.com/free-vector/app-development-illustration_52683-47931.jpg" alt=""class="rounded-t-2xl shadow-2xl lg:w-full 2xl:w-full 2xl:h-44 object-cover"/>
        <div class="bg-white shadow-2xl rounded-b-3xl">
          <h2 class="text-center text-gray-800 text-2xl font-bold pt-6"><%= car.model %></h2>
          <div class="w-5/6 m-auto">
            <p class="text-center text-gray-500 pt-5">Salut j'suis un bon coach prend des rdv pitié!</p>
          </div>
          <div class="bg-blue-700 w-72 lg:w-5/6 m-auto mt-6 p-2 hover:bg-indigo-500 rounded-2xl  text-white text-center shadow-xl shadow-bg-blue-700">
            <%= button_to "Voir cette voiture", car_path(car.id), method: :get, class: "lg:text-sm text-lg font-bold"%>
          </div>
      </div>
      <% end %>
    </div>
</div>



