<h1>Editing availability</h1>

<%= render "form", availability: @availability %>

<br>

<div>
  <%= link_to "Show this availability", @availability %> |
  <%= link_to "Back to availabilities", availabilities_path %>
</div>
