  <div class="sliderAx h-auto">
      <div id="slider-1" class="container mx-auto">
        <div class="bg-cover bg-center  h-auto text-white py-24 px-10 object-fill" style="background-image: url(https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/motorsport/customer-racing/custom_gt3.jpg)">
       <div class="md:w-1/2">
        <p class="font-bold text-sm uppercase">Bienvenue</p>
        <p class="text-3xl font-bold">Rejoins nous en t'inscrivant !</p>
        <p class="text-2xl mb-10 leading-none">Deviens coach ou driver !</p>
        <a href="/users/sign_up" class="bg-purple-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Clique ici!</a>
        </div>  
    </div> <!-- container -->
      <br>
      </div>

      <div id="slider-2" class="container mx-auto">
        <div class="bg-cover bg-top  h-auto text-white py-24 px-10 object-fill" style="background-image: url(https://media.socastsrm.com/wordpress/wp-content/blogs.dir/1944/files//2022/06/from-dylan-219.jpg)">
       
  <p class="font-bold text-sm uppercase">Intriguer?</p>
        <p class="text-3xl font-bold">Tu veux voir ce qu'on a sous le capot??</p>
        <p class="text-2xl mb-10 leading-none">Des dizaines de differentes voitures !</p>
        <a href="/cars" class="bg-purple-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Clique ici!</a>
         
    </div> <!-- container -->
      <br>
      </div>
    </div>
 <div  class="flex justify-between w-12 mx-auto pb-2">
        <button id="sButton1" onclick="sliderButton1()" class="bg-purple-400 rounded-full w-4 pb-2 " ></button>
    <button id="sButton2" onclick="sliderButton2() " class="bg-purple-400 rounded-full w-4 p-2"></button>
  </div>


<!-- JS pour le carousel, ne fonctionne que quand il est placé dans l'index (pareil pour le CDN) -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>

    var cont=0;

function sliderButton1(){

    $("#slider-2").fadeOut(400);
    $("#slider-1").delay(400).fadeIn(400);
    $("#sButton2").removeClass("bg-purple-800");
    $("#sButton1").addClass("bg-purple-800");
    reinitLoop(4000);
    cont=0
    
    }
    
    function sliderButton2(){
    $("#slider-1").fadeOut(400);
    $("#slider-2").delay(400).fadeIn(400);
    $("#sButton1").removeClass("bg-purple-800");
    $("#sButton2").addClass("bg-purple-800");
    reinitLoop(4000);
    cont=1
    
    }

    $(window).ready(function(){
        $("#slider-2").hide();
        $("#sButton1").addClass("bg-purple-800");
        

        loopSlider();
     
    
    });

  
  </script>









<!-- card driver -->

<div class="grid  h-10 rounded-box place-items-stretch">
  <div class="h-screen grid lg:grid-cols-3 gap-0 md:grid-cols-1">

    <% @coachs.each do |coach| %>
    <div class = "content-center">
      <div class="w-80 mt-24 m-auto lg:mt-16 max-w-sm ">
        <img src="https://image.freepik.com/free-vector/app-development-illustration_52683-47931.jpg" alt="a picture of two web developpers working on the development of an app" class="rounded-t-2xl shadow-2xl lg:w-full 2xl:w-full 2xl:h-44 object-cover"/>
        <div class="bg-white shadow-2xl rounded-b-3xl">
          <h2 class="text-center text-gray-800 text-2xl font-bold pt-6"><%= coach.first_name %></h2>

          <div class="w-5/6 m-auto">
            <p class="text-center text-gray-500 pt-5">Salut j'suis un bon coach prend des rdv pitié!</p>
          </div>
          

          <div class="bg-blue-700 w-72 lg:w-5/6 m-auto mt-6 p-2 hover:bg-indigo-500 rounded-2xl  text-white text-center shadow-xl shadow-bg-blue-700">
            <%= button_to "Mon profil et mes dispos", user_path(coach.id), method: :get, class: "lg:text-sm text-lg font-bold"%>
          </div>
    
          <div class="text-center m-auto mt-6 w-full h-16">
            <%= button_to "Prendre RDV", new_meeting_path, method: :get, params: {coach_id: coach.id}, class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>
          </div>
  
        </div>
      </div>
    </div>
    <% end %> 


  </div>
</div>



